@model PaginationVM<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
  <!--====== Breadcrumb Part Start ======-->

    <div class="breadcrumb-area">
        <div class="container-fluid custom-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                </ol>
            </nav>
        </div> <!-- container -->
    </div>

    <!--====== Breadcrumb Part Ends ======-->

    <!--====== Shop Left sidebar Part Start ======-->

    <section class="shop-area pt-20">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-lg-12">                    
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
                            <div class="row">
                                @foreach (var item in Model.Items)
                               {                                   
                                <div class="col-xl-3 col-md-4 col-sm-6">
                                    <div class="single-product mt-30">
                                        <div class="product-image">
                                            <a href="single-product.html">
                                                @foreach (var image in item.ProductImage)
                                                {
                                                <img class="first-image" src="~/assets/images/product/@image.ImageUrl" alt="product">
                                                break;
                                                }
                                                             
                                            </a>
                                            <ul class="product-meta">
                                                <li><a asp-controller="basket" asp-action="additem" asp-route-id="@item.Id"><i class="icon ion-bag"></i></a></li>
                                                <li><a ><i class="icon ion-android-favorite-outline"></i></a></li>
                                                <li><a asp-action="detail" asp-route-id="@item.Id"><i class="icon ion-android-options"></i></a></li>
                                                <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                            </ul>
                                            <span class="discount-product">-12%</span>
                                        </div>
                                        <div class="product-content">
                                            <h4 class="product-title"><a href="single-product.html">@item.Name</a></h4>
                                            <ul class="product-rating">
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                            </ul>                                            
                                            <div class="product-price">
                                                <span class="regular-price">€@item.Price</span>
                                                <span class="price-sale">€@item.DisCountPrice</span>
                                            </div>
                                        </div>
                                    </div> <!-- single product -->
                                </div>
                               } 
                            </div> <!-- row -->
                        </div>
                      
                    </div> <!-- Tab Content -->
                    
            <ul class="pagination justify-content-center mt-30">
                <li><a asp-action="index" asp-route-page="@(Model.CurrentPage-1)">><i class="fal fa-chevron-left"></i></a></li>
                       @for (int i = 1; i <= Model.PageCount; i++)
            {
                 <li class="page-item @(Model.CurrentPage==i?"disabled":"")">
                 <a asp-action="index" asp-route-page="@i">@i</a></li>                 
            }
                       
                        <li><a asp-action="index" asp-route-page="@(Model.CurrentPage+1)"><i class="fal fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== Shop Left sidebar Part Ends ======-->